<h1 align="center">Editing Article</h1>

<%= render 'form', article: @article %>
<div class="col-sm-offset-4 col-sm-10">
	[ <%= link_to 'Show', @article %> |
	<%= link_to 'Cancel request and request to articles listing', articles_path %> ]
</div>