<p id="notice"><%= notice %></p>

<h1>Articles listing</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'article', obj: @articles %>
  </tbody>
</table>
  

<br>

<%= link_to 'Create New Article', new_article_path %>
